<?xml version="1.0"?>

<model>
  <name>Obstacle 1 SDF Version </name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Daniel Ruiz</name>
    <email>dacruizac@unal.edu.co</email>
  </author>

  <description>
    Plano para drone racecourse
  </description>

</model>